---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/sharing/check_share_job_status
    body:
      encoding: UTF-8
      string: '{"async_job_id":"abc123"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Dropbox-Request-Id:
      - ffd96f24a7bda5e440097984aae65db4
    body:
      encoding: UTF-8
      string: '{
    ".tag": "complete",
    "access_type": {
        ".tag": "owner"
    },
    "is_inside_team_folder": false,
    "is_team_folder": false,
    "name": "dir",
    "policy": {
        "acl_update_policy": {
            ".tag": "owner"
        },
        "shared_link_policy": {
            ".tag": "anyone"
        },
        "member_policy": {
            ".tag": "anyone"
        },
        "resolved_member_policy": {
            ".tag": "team"
        }
    },
    "preview_url": "https://www.dropbox.com/scl/fo/fir9vjelf",
    "shared_folder_id": "84528192421",
    "time_invited": "2016-01-20T00:00:00Z",
    "path_lower": "/dir",
    "link_metadata": {
        "audience_options": [
            {
                ".tag": "public"
            },
            {
                ".tag": "team"
            },
            {
                ".tag": "members"
            }
        ],
        "current_audience": {
            ".tag": "public"
        },
        "link_permissions": [
            {
                "action": {
                    ".tag": "change_audience"
                },
                "allow": true
            }
        ],
        "password_protected": false,
        "url": ""
    },
    "permissions": [],
    "access_inheritance": {
        ".tag": "inherit"
    }
}'
  recorded_at: Sun, 01 May 2016 00:38:02 GMT
recorded_with: VCR 3.0.1
